body {
  font-family: "MS Gothic", "ＭＳ ゴシック", monospace;
  text-align: center;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}
